.AdminBack {
    background-color: #098dbd;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.ButtUserSalir {
    background-color: #282ab1;
    padding: 10px 30px;
    color: white;
}

.Admin {
    background-color: #346892;
    min-height: 90.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
}

.Admin img {
    padding: 10px 10px;
    font-size: calc(5px + 2vmin);
    margin: 10px 0px;
}

.Admin button {
    padding: 5px 10px;
    font-size: calc(5px + 2vmin);
    margin: 10px 0px;
}